@import '../../partials/styles/style_variables';

.space-in-nav-bar {
  flex: 1 1 auto;
}

.nav-bar-secondEl {
  display: flex;
  justify-content: space-around;

  &--tab {
    text-decoration: none;
    color: white;
    padding-left: 1rem;

    &:hover {
      color: $app-lite-color;
    }

    &-label {
      // color: green;
    }

    &:nth-child(3) {
      .mat-select {
        width: 6rem;
      }
    }
  }

  &--active {
    // color: limegreen
    color: $app-shiny-color;
  }
}
