<div class="ui-pagination">
  <div class="ui-pagination--container">
    <h2 class="ui-pagination--container-title"> {{ 'I18N.PAGE.UI.uiTitle' | translate }} </h2>
    <ul class="list">
      <span><strong>{{ 'I18N.PAGE.UI.name' | translate }}</strong></span>
      <span><strong>{{ 'I18N.PAGE.UI.age' | translate }}</strong></span>
      <li *ngFor="let l of list | slice: (curPage * pageSize) - pageSize :curPage * pageSize">
        <span>{{l.name}}</span><span>{{ keyWordsObj.I18N.API.AGE[l.age] }}</span>
      </li>
    </ul>
    <p class="pagination">
      <button [disabled] ="curPage === 1" (click)="curPage = curPage - 1">
        {{ 'I18N.PAGE.UI.prev' | translate }}
      </button>
      <span *ngIf="myLang !== 'ta'">
        {{ 'I18N.PAGE.UI.page' | translate }} {{curPage}} of {{ numberOfPages() }}
      </span>
      <span *ngIf="myLang === 'ta'">
        பக்கங்கள் {{ numberOfPages() }} இல் {{curPage}}
      </span>
      <button [disabled] = "curPage >= list.length/pageSize" (click) ="curPage = curPage + 1">
        {{ 'I18N.PAGE.UI.next' | translate }}
      </button>
    </p>
  </div>
</div>