<div class="pagination-server">
  <h2 class="pagination-server--title">
    {{ 'I18N.PAGE.SERVER.serverTitle' | translate }}
  </h2>
  <div class="pagination-server-spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="sqNo">
      <mat-header-cell *matHeaderCellDef> {{ 'I18N.PAGE.SERVER.sqNo' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let jsondata">{{jsondata.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="userId">
      <mat-header-cell *matHeaderCellDef> {{ 'I18N.PAGE.SERVER.userId' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let jsondata">{{ keyWordsObj.I18N.API.USERID[jsondata.userId] }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> {{ 'I18N.PAGE.SERVER.title' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let jsondata">{{jsondata.title}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="body">
      <mat-header-cell *matHeaderCellDef> {{ 'I18N.PAGE.SERVER.body' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let jsondata">{{jsondata.body}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <!-- Custom pagination for material -->
  <div class="custom-pagination-wrapper">
    <div class="custom-pagination-pagesize-wrapper">
        <mat-label class="custom-pagination-pagesize-wrapper-label">
          {{ 'I18N.PAGE.SERVER.pagination' | translate }} : 
        </mat-label>
        <mat-select placeholder="selectedPageSize" [(value)]="selectedPageSize" (selectionChange)="onSetPageSizeOptions($event.value)">
          <mat-option *ngFor="let pageSize of pageSizeOptionsArray" [value]="pageSize">
            {{ pageSize }}
          </mat-option>
        </mat-select>
    </div>
    <div class="custom-pages" *ngFor="let page of pageIndexesArray; let i = index">
      <div class="custom-pages-first" (click)="onClickFirstPage(1)" *ngIf="i === 0"
        [ngClass]="{'isFirstPage': activePageIndex === 1, 'isNotFirstPage': activePageIndex !== 1}">
        <a class="custom-pages-default" href="javascript:void(0);"></a>
      </div>
      <div class="custom-pages-previous" (click)="onClickPreviousPage(getCurrentpage() - 1)" *ngIf="i === 0"
        [ngClass]="{'isFirstPage': activePageIndex === 1, 'isNotFirstPage': activePageIndex !== 1}">
        <a class="custom-pages-default" href="javascript:void(0);"></a>
      </div>
      <div class="custom-pages-page-number" (click)="onClickCurrentPage(page)">
        <a href="javascript:void(0);"
          [ngClass]="{'isSelected': activePageIndex === page, 'isNotSelected': activePageIndex !== page }">
          {{page}}
        </a>
      </div>
      <div class="custom-pages-next" (click)="onClickNextPage(getCurrentpage() + 1)" *ngIf="i === pageIndexesArray.length - 1"
        [ngClass]="{'isLastPage': activePageIndex === lastPageIndex, 'isNotLastPage': activePageIndex !== lastPageIndex }">
        <a class="custom-pages-default" href="javascript:void(0);"></a>
      </div>
      <div class="custom-pages-last" (click)="onClickLastPage(lastPageIndex)" *ngIf="i === pageIndexesArray.length - 1"
        [ngClass]="{'isLastPage': activePageIndex === lastPageIndex, 'isNotLastPage': activePageIndex !== lastPageIndex }">
        <a class="custom-pages-default" href="javascript:void(0);"></a>
      </div>
    </div>
    <!-- Normal material pagination -->
    <mat-paginator [length]="totalItems" [pageSize]="defaultPageSize" [pageSizeOptions]="pageSizeOptionsArray"></mat-paginator>
  </div>
</div>